@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

main.login {
  @include flex($direction: column, $justify: center, $align: center, $gap: 3rem);

  block-size: 100vh;

  background-color: $milky;

  img {
    block-size: 14rem;
  }

  div.box {
    @include flex($direction: column, $justify: center, $align: center, $gap: 1.2rem);

    inline-size: min(90%, 30rem);

    background-color: $white;

    padding: 1.2rem;

    border-radius: 1.2rem;
    border: 0.1rem solid $light-grey;

    h3 {
      font-size: 1.8rem;
    }

    form {
      @include flex($direction: column, $gap: 3.2rem);

      inline-size: 100%;

      font-size: 1.2rem;

      div {
        @include flex($direction: column, $gap: 0.8rem);

        &.password-box {
          @include flex();

          position: relative;

          button {
            @include flex($align: center);

            block-size: 100%;

            background-color: transparent;

            font-size: 1.8rem;
            color: $grey;

            position: absolute;
            inset-block-start: 50%;
            inset-inline-end: 0;

            transform: translate(50%, -50%);
          }
        }
      }

      label {
        color: $grey;
      }

      input {
        @include flex($align: center, $justify: center);

        inline-size: 100%;

        background-color: $grey-alpha;

        border-radius: 1.2rem;

        padding: 0.8rem 1.6rem;
      }

      button[type='submit'] {
        @include flex($align: center, $justify: center, $gap: 1rem);

        inline-size: 100%;

        background-color: $blue;

        border: 0;
        border-radius: 1.2rem;

        padding: 0.8rem 1.6rem;

        color: $white;

        svg {
          font-size: 1.8rem;

          animation: spin 2s linear infinite;
        }
      }
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}