@use './../../../../styles/mixin' as *;
@use './../../../../styles/variables' as *;

div.top-bar {
  @include flex($align: center, $justify: center);

  background-color: $full-white;

  border-radius: 0 0 3.2rem 3.2rem;

  padding: 1rem 0;

  div.container {
    @include flex($align: center, $justify: space-between);

    inline-size: min(90%, 102.4rem);

    img {
      block-size: 6rem;
    }

    div {
      @include flex($gap: 0.8rem);

      a {
        @include flex($align: center, $justify: center);

        inline-size: 4rem;
        block-size: 4rem;

        background-color: $white;

        border-radius: 1rem;

        font-size: 2rem;
        color: $black;
      }
    }
  }
}