//color
$white: hsl(0, 0%, 100%);
$milky: hsl(210, 20%, 98%);
$light-grey: hsl(210, 8%, 90%);
$grey: hsl(230, 9%, 60%);
$grey-alpha: hsla(230, 9%, 60%, 0.05);
$blue: hsl(228.7, 73.3%, 38.2%);

//font
$font-bold: RaviBold, serif;