//color

$white: hsl(0, 0%, 100%);
$milky: hsl(210, 20%, 98%);
$grey: hsl(210, 8%, 90%);
$light-grey: hsl(230, 9%, 60%);
$dark-grey: hsla(230, 9%, 60%, 0.05);
$blue: hsl(202, 98%, 51%);

//font
$font-bold: RaviBold, serif;