@use "./../../../styles/mixin" as *;
@use "./../../../styles/variables" as *;

section.demo {
  @include flex($direction: column, $align: center, $justify: center, $gap: 1.6rem);
  padding: 5rem 0;
  position: relative;
  font-family: $cunia;
  letter-spacing: 0.26rem;
  overflow: hidden;

  p.back-text {
    @include flex($align: center, $justify: space-evenly, $gap: 2rem);
    inline-size: 100%;
    font-size: 2.4rem;
    padding-left: 100%; /* فاصله اولیه از سمت چپ */
    white-space: nowrap;

    pre {
      font-family: $cunia;
    }


    &:nth-child(odd) {
      color: #6E7CAF;
    }

    &:nth-child(even) {
      color: #f5f7fe;
      text-shadow: -0.1rem 0 #6E7CAF, 0 0.1rem #6E7CAF, 0.1rem 0 #6E7CAF, 0 -0.1rem #6E7CAF;
      transform: translateX(10rem);
    }

  }

  div:not(.card) {
    @include flex($direction:column, $gap: 3rem);
  }

  div.card {
    inline-size: min(90%, 84.8rem);
    background-color: #F5F7FE;
    border: 0.1rem solid #6E7CAF;
    border-radius: 1.2rem;
    @include flex($direction: column, $align: center, $justify: center, $gap: 1.6rem);
    padding: 5rem 0;
    position: absolute;
    letter-spacing: 0;

    img {
      inline-size: 3.2rem;
      block-size: 3.2rem;
    }

    h3 {
      font-size: 2.4rem;

      @media only screen and (max-width: 600px) {
        font-size: 2rem;
      }
    }

    p {
      font-size: 1.6rem;
      color: #364152;

      @media only screen and (max-width: 600px) {
        font-size: 1.4rem;
      }
    }

    form {
      @include flex();

      input {
        background-color: white;
        border: 0.1rem solid #6E7CAF;
        padding: 0.6rem 1.2rem;
        font-size: 1.4rem;

        &[type='tel'] {
          border-radius: 0 1.2rem 1.2rem 0;
        }

        &[type='submit'] {
          border-radius: 1.2rem 0 0 1.2rem;
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
  }

}