@use './../../../../styles/mixin' as *;
@use './../../../../styles/variables' as *;

section.chat-box {
  @include flex($justify: center);
  flex: 1;

  padding-bottom: 2rem;

  div.container {
    @include flex($gap: 1rem);

    inline-size: 90%;

    background-color: $full-white;

    border-radius: 2.6rem;

    padding: 2rem;
    padding-inline-start: 0;

    div.sidebar {
      @include flex($direction: column, $gap: 1rem);
      flex: 3;

      form {
        padding: 0 1rem;

        select {
          inline-size: 100%;

          background-color: $grey-alpha-half;

          padding: 1.2rem;

          border: 0;
          outline: 0;
          border-radius: 0.8rem;
        }
      }
    }
  }
}