@use 'styles/variables' as *;

@font-face {
  font-family: 'RaviBold';
  src: url('assets/font/RaviBold.eot');
  src: url('assets/font/RaviBold.eot?#iefix') format('embedded-opentype'),
  url('assets/font/RaviBold.woff') format('woff'),
  url('assets/font/RaviBold.ttf') format('truetype');
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6, p, a, button, input, label {
  font-family: $font-bold;
}

input {
  border: 0.1rem solid transparent;
  outline: 0;

  &:focus-visible {
    border-color: $light-grey;
  }
}

button {
  border: 0;

  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
