@use 'styles/variables' as *;

@font-face {
  font-family: 'RaviBold';
  src: url('assets/font/RaviBold.eot');
  src: url('assets/font/RaviBold.eot?#iefix') format('embedded-opentype'),
  url('assets/font/RaviBold.woff') format('woff'),
  url('assets/font/RaviBold.ttf') format('truetype');
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

input {
  border: 0.1rem solid transparent;
  outline: 0;

  &:focus-visible {
    border-color: $light-grey;
  }
}
