@use './../../../../styles/mixin' as *;
@use './../../../../styles/variables' as *;

button.chat-item {
  @include flex($gap: 1rem);

  padding: 1rem;

  background-color: transparent;

  border-bottom: 0.1rem solid $grey-alpha-one;
  border-right: 0.3rem solid transparent !important;

  font-size: 1.2rem;

  &.active {
    background-color: $blue-alpha;

    border-right-color: $blue !important;
  }

  &:last-child {
    border: 0;
  }

  div.profile {
    min-inline-size: 4rem;
    block-size: 4rem;

    background-image: linear-gradient(180deg, $dark-blue, $blue);

    border-radius: 1.2rem;

    position: relative;

    &:after {
      content: "";

      inline-size: 0.6rem;
      block-size: 0.6rem;

      background-color: $red;

      border-radius: 50%;

      border: 0.1rem solid $full-white;

      position: absolute;
      inset-inline-end: 0;
      inset-block-end: 0;

    }

    &.online:after {
      background-color: $green;
    }

  }

  div.chat-info {
    @include flex($direction: column, $gap: 1.2rem);

    div.time {
      @include flex($align: center, $justify: space-between);

      color: $grey;
    }

    div.title {
      @include flex($align: center, $gap: 0.5rem);

      b {
        color: $grey;
        font-size: 1.4rem;

        &.unread {
          color: $black;
        }
      }

      p {
        background-color: $blue;

        padding: 0.2rem 0.4rem;

        border-radius: 0.4rem;

        color: $full-white;
      }
    }

    p.subtitle {
      block-size: 4.2rem;

      color: $grey;
      text-align: justify;

      overflow: hidden;
    }
  }
}